*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-color: lightpink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    background-image: url('images/bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.love{
    border: 1px solid white;
    border-radius: 20px;
    width: 90%;
    max-width: 750px;
    min-height: 350px;
    height: auto;
    margin:5% auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding-top: 30px 20px;
    gap: 30px;
    word-spacing: 5px;
    background-color: white;
    /* margin-top: 5%; */
}
.love h1{
    font-size: 48px;
}
.butt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
    /* position: absolute;
    bottom: 38%;
    left: 40%; */

}

.butt button{
    width: 100px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    /* background-color:green; */
    transition: all 0.3s ease;

}
.butt button:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.bt1{
    background-color:red;
    color: white;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
}
.bt2{
    background-color: white;
    color: black;
    /* position: relative;
    left: 50%;
    top: 70%; */
    transition: all 0.15s ease;
    cursor: pointer;
}

@media (max-width:600px) {
    .love{
        margin-top: 20%;
        width: 95%;
        gap: 20px;
    }
    .love h1{
        font-size: 32px;
    }
    .love p{
        font-size: 16px;
    }
    .butt{
        flex-direction: column;
        gap: 15px;
    }
    
}
